table img.list {
    width: 30px !important
}

.imgCarousel {
    height: 450px !important; 
    width: 100% ;
    object-fit: cover;
     
}

/* growhover */
.grow{
    transition: 1s;
}

.grow:hover{
        
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}


html{
    scroll-behavior: smooth !important;
}

body{
    background: #333;
    color: #fff;
}
/* navbar section */
.navbar{
    border-bottom: 5px solid rgb(255, 167, 3);
    margin-bottom: 0;
    opacity: 0.8;
}


.navbar-user{
    transition: 0.5s !important;
}

.navbar-user:hover {
    color: rgb(210,105,30);
    text-decoration: none;
    -webkit-text-stroke: 0.6px rgb(210,105,30);
    
}

#home-section{
   max-height: 350px;
}

#home-section .dark-overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    min-height: 300px;
    margin-top: 59px;
    background:rgba(0, 0, 0, 0.349)

}

#home-section .home-inner{
    padding-top: 10px;

}

#home-section .fas,
#create-section .fas{
    color: #008ed6;
    background: #fff;
    padding: 5px;
    border-radius: 5px
}

#explore-section .fas,
#share-section .fas{
    background: #333;
    color:#fff;
    padding: 5px;
    border-radius: 5px;
}
